body {
    line-height: 20px;
}
.office{
    position: relative;
    height:60vh;
    width:100vw;
}
.text{
    position: relative;
    top:10vh;
    color: #629999;
    padding-left: 40vw;
}

.norm{
    background-color:#dae9f4;
    margin :10px 7% 10px 7%;
    border-radius: 10px;
}

.opening{
    color:#3E64ff;
    text-align: left;
    line-height: 2;
    margin:20px 70px 20px 70px;
}

.mypic{
    position:absolute;
    top:60vh;
    left: 40vw;
    height:20vh;
    width: 15vw;
    border-radius: 100%;
}
.SummeryImage{
    margin: auto auto auto 40vw;
    height:20vh;
    width: 10vw;
    border-radius: 100%;
}
nav {
    margin : 3vh auto 5vh 5vh
}
.button{
    display : inline-block;
    border-block-end-width: 10px;
    font-size : 13px;
    width : 150px;
    height:25px;
    border-radius : 7px;
    text-align: center;
    text-decoration: none;
}

.button:hover {
  font-size : 20px;
  background-color: #77919D;
  transition-duration: 20ms;
}

.bottom{
    border-radius: 10px;
    margin :5px 7% 5px 7%;
    background-color: #f0DD92;
    text-align: center;
}

.social_media{
    height:50px;
    width: 50px;
}

.card{
    position : absolute;
    margin: 10px 70px 10px 450px;
    height: 60px;
    width : 100px;
}

table{
    margin-left: 10%;
    width:75%;
    line-height: 3;
    color:#3E64ff;
    text-align: left;
}

.star{
    color : red;
}
